<div class="cart-container w-full h-screen bg-[#f3e8d5] flex items-center justify-center">
  <!-- Contenedor principal del carrito -->
  
  <div class="cart w-full max-w-3xl p-4"> 
    <!-- Contenedor principal del carrito sin borde y sombra -->
    
    <!-- Mensaje cuando el carrito está vacío -->
    <div *ngIf="cartProducts.length === 0" class="empty-cart text-center py-10">
      <p class="text-lg text-gray-500">El carrito está vacío</p> <!-- Mensaje indicando que no hay productos -->
    </div>

    <!-- Sección que muestra los productos en el carrito -->
    <div *ngFor="let cartProduct of cartProducts" class="cart-product flex items-center border-b border-gray-200 py-2">
      <img [src]="cartProduct.product.imageUrl" alt="{{ cartProduct.product.name }}" class="cart-image w-24 h-24 object-cover rounded-lg" />
      <div class="product-info ml-4">
        <h2 class="text-lg font-semibold text-yellow-600">{{ cartProduct.product.name }}</h2>
        <p class="product-price text-xl font-semibold text-yellow-500">{{ cartProduct.product.price.toFixed(2) }} €</p>
        <p class="quantity text-sm text-gray-700">Cantidad: {{ cartProduct.quantity }}</p>
      </div>
    </div>

    <div class="mt-4 flex justify-between"> 
      <!-- Contenedor para los botones de compra y vaciar carrito -->
      <button (click)="buy()" class="buy-btn px-4 py-2 bg-yellow-500 hover:bg-yellow-600 text-white rounded-xl transition duration-200">Comprar</button> <!-- Botón para comprar -->
      <button (click)="clearCart()" class="clear-cart-btn px-4 py-2 bg-gray-300 hover:bg-gray-400 text-black rounded-xl transition duration-200">Vaciar Carrito</button> <!-- Botón para vaciar el carrito -->
    </div>
  </div>
</div>
