<!-- Contenedor principal de la tienda -->
<div class="store bg-[#f3e8d5] py-10 min-h-screen">
<!-- Carrusel de imágenes -->
<div class="relative mx-8 mb-4">
  <div class="bg-white rounded-3xl overflow-hidden shadow-lg carrusel"> <!-- Carrusel con altura de 500px -->
    <div class="carousel custom-carousel h-full">
      <div class="carousel-inner flex transition-transform duration-700 ease-in-out h-full"
           [ngStyle]="{'transform': 'translateX(-' + (currentSlideIndex * 100) + '%)'}">
        <div *ngFor="let image of carouselImages; let i = index" class="carousel-item flex-shrink-0 relative h-full">
          <!-- Div de la Imagen -->
          <div class="image-container"> <!-- Div de imagen ocupa 150px de altura -->
            <img [src]="image" alt="Carrusel" class="object-cover"> <!-- La imagen ocupa su espacio -->
          </div>
          <!-- Div de Texto y Botón -->
          <div *ngIf="currentSlideIndex === 0" class="texto-boton"> <!-- Texto y botón -->
            <h2 class="text-lg font-bold text-yellow-600">Nuestra zapatilla más vendida</h2>
            <button (click)="buyNow()" class="mt-2 bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-xl transition duration-200 ease-in-out">
              ¡Cómprala ya!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  <!-- Fila superior con botones -->
  <div class="flex justify-between mb-4 mx-8 items-center">
    <div class="flex flex-grow justify-end space-x-1">
      <button (click)="setProductsPerRow(2)" class="bg-yellow-300 hover:bg-yellow-400 text-white font-semibold py-2 px-3 rounded-xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-8" fill="currentColor" viewBox="0 0 24 20">
          <rect x="6" y="4" width="4" height="14" />
          <rect x="14" y="4" width="4" height="14" />
        </svg>
      </button>
      <button (click)="setProductsPerRow(4)" class="bg-yellow-300 hover:bg-yellow-400 text-white font-semibold py-2 px-3 rounded-xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-10" fill="currentColor" viewBox="0 0 30 20">
          <rect x="2" y="4" width="4" height="14" />
          <rect x="9" y="4" width="4" height="14" />
          <rect x="16" y="4" width="4" height="14" />
          <rect x="23" y="4" width="4" height="14" />
        </svg>
      </button>
      <button (click)="setProductsPerRow(6)" class="bg-yellow-300 hover:bg-yellow-400 text-white font-semibold py-2 px-3 rounded-xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-10" fill="currentColor" viewBox="0 0 36 20">
          <rect x="0" y="4" width="4" height="16" />
          <rect x="6" y="4" width="4" height="16" />
          <rect x="12" y="4" width="4" height="16" />
          <rect x="18" y="4" width="4" height="16" />
          <rect x="24" y="4" width="4" height="16" />
          <rect x="30" y="4" width="4" height="16" />
        </svg>
      </button>
    </div>
    <button (click)="toggleFilters()" class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-xl ml-4">
      {{ showFilters ? 'Ocultar Filtros' : 'Mostrar Filtros' }}
    </button>

    <div class="flex items-center ml-4">
      <i class="fas fa-shopping-cart text-yellow-600 text-lg mr-2"></i>
      <span class="text-lg font-bold text-yellow-600">
        {{ cartService.getTotalItems() }}
      </span>
    </div>
  </div>

  <!-- Fila de columnas: Filtros y Productos -->
  <div class="flex mx-4 mt-8">
    <!-- Sección de filtros -->
    <aside *ngIf="showFilters" class="filters bg-white rounded-3xl shadow-lg p-4 w-80 mr-8 flex flex-col justify-start sticky top-20" style="max-height: 90vh; overflow-y: auto;">
      <h2 class="text-lg font-bold text-yellow-600 text-center">Filtros</h2>

      <!-- Filtro: Ordenar por -->
      <div class="filter-section mt-4">
        <h3 class="text-md font-semibold text-gray-700">Ordenar por</h3>
        <select [(ngModel)]="selectedSort" class="border border-yellow-300 rounded-xl p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-400">
          <option value="">Sin ordenar</option>
          <option value="priceHighLow">Precio: alto-bajo</option>
          <option value="priceLowHigh">Precio: bajo-alto</option>
        </select>
      </div>

      <!-- Filtro: Color -->
      <div class="filter-section mt-4">
        <h3 class="text-md font-semibold text-gray-700">Color</h3>
        <select [(ngModel)]="selectedColor" class="border border-yellow-300 rounded-xl p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-400">
          <option value="">Todos</option>
          <option *ngFor="let color of uniqueColors" [value]="color">{{ color }}</option>
        </select>
      </div>

      <!-- Filtro: Género -->
      <div class="filter-section mt-4">
        <h3 class="text-md font-semibold text-gray-700">Género</h3>
        <select [(ngModel)]="selectedGender" class="border border-yellow-300 rounded-xl p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-400">
          <option value="">Todos</option>
          <option *ngFor="let gender of uniqueGenders" [value]="gender">{{ gender }}</option>
        </select>
      </div>

      <!-- Filtro: Marca -->
      <div class="filter-section mt-4">
        <h3 class="text-md font-semibold text-gray-700">Marca</h3>
        <select [(ngModel)]="selectedMarca" class="border border-yellow-300 rounded-xl p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-400">
          <option value="">Todas</option>
          <option *ngFor="let marca of uniqueMarcas" [value]="marca">{{ marca }}</option>
        </select>
      </div>

      <!-- Filtro: Talla -->
      <div class="filter-section mt-4">
        <h3 class="text-md font-semibold text-gray-700">Talla</h3>
        <select [(ngModel)]="selectedTalla" class="border border-yellow-300 rounded-xl p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-400">
          <option value="">Todas</option>
          <option *ngFor="let talla of uniqueTallas" [value]="talla">{{ talla }}</option>
        </select>
      </div>

      <button (click)="applyFilters()" class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-xl mt-4 w-full transition duration-200 ease-in-out">
        Aplicar Filtros
      </button>
    </aside>

  <!-- Contenido principal -->
<div class="flex-1">
  <!-- Sección de productos -->
  <div class="product-grid flex-grow grid gap-8"
       [ngClass]="{
         'grid-cols-2': productsPerRow === 2,
         'grid-cols-4': productsPerRow === 4,
         'grid-cols-6': productsPerRow === 6
       }">
    <div *ngFor="let product of filteredProducts" class="product-card bg-white rounded-3xl shadow-lg p-4 transform hover:scale-105 transition duration-300 ease-in-out hover:shadow-2xl flex flex-col">
      <a [routerLink]="['/product', product.id]"> <!-- Enlace actualizado -->
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image w-full aspect-[4/3] object-cover rounded-t-3xl" />
      </a>
      <div class="product-info mt-4 flex-grow flex flex-col justify-between">
        <h2 class="product-name text-lg font-bold text-yellow-600">{{ product.name }}</h2>
        <p class="product-price text-xl font-semibold text-yellow-500 mt-2">{{ product.price.toFixed(2) }} €</p>
      </div>
    </div>
  </div>
</div>



    <!-- Mensaje si no hay productos filtrados -->
    <div *ngIf="filteredProducts.length === 0" class="text-center text-gray-600 mt-4">
      No hay productos disponibles con los filtros seleccionados.
    </div>
  </div>
</div>
