<!-- Contenedor principal de la tienda -->
<div class="store bg-[#f3e8d5] py-10 min-h-screen">
  <!-- Carrusel de imágenes -->
  <div class="relative mx-8 mb-4">
    <div class="bg-white rounded-3xl overflow-hidden shadow-lg carrusel">
      <div class="carousel custom-carousel h-full">
        <div class="carousel-inner flex transition-transform duration-700 ease-in-out h-full"
            [ngStyle]="{'transform': 'translateX(-' + (currentSlideIndex * 100) + '%)'}">
        <!-- Primera Viñeta -->
<div class="carousel-item flex-shrink-0 relative h-full">
  <div class="image-container">
    <img [src]="carouselImages[0]" alt="Carrusel" class="object-cover w-full h-full">
  </div>
  <div *ngIf="currentSlideIndex === 0" class="absolute bottom-0 w-full bg-opacity-60  text-center py-6 px-4">
    <h2 class="text-3xl font-bold text-yellow-600 mb-4">Nuestra zapatilla más vendida</h2>
  </div>
</div>

        <!-- Segunda Viñeta -->
        <div class="carousel-item flex-shrink-0 relative h-full bg-yellow-500">
          <div class="image-container">
            <img [src]="carouselImages[1]" alt="Carrusel" class="object-cover w-full h-full">
          </div>
          <div *ngIf="currentSlideIndex === 1" class="absolute inset-0 flex justify-center items-center text-center">
            <div class="text-white">
              <h2 class="text-4xl font-bold">Aplica este código del 15% en todos los productos solo este mes</h2>
              <p class="text-2xl font-semibold text-red-600">ZapasProMola</p>
            </div>
          </div>
        </div>
        <!-- Tercera Viñeta -->
        <div class="carousel-item flex-shrink-0 relative h-full">
          <div class="image-container">
            <img [src]="carouselImages[2]" alt="Carrusel" class="object-cover w-full h-full">
           </div>
           <div *ngIf="currentSlideIndex === 2" class="absolute bottom-0 w-full bg-opacity-70 bg-black text-center py-4">
            <p class="text-2xl font-semibold text-white">Futuro lanzamiento Air Jordan 4 Retro "Fear" solo 100 pares</p>
          </div>
        </div>
        </div>
      </div>
    <!-- Flechas de navegación -->
    <button class="absolute top-1/2 left-0 transform -translate-y-1/2 p-2 text-white bg-yellow-600 rounded-full ml-4" (click)="previousSlide()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2">
        <path d="M15 19l-7-7 7-7" />
      </svg>
    </button>
    <button class="absolute top-1/2 right-0 transform -translate-y-1/2 p-2 text-white bg-yellow-600 rounded-full mr-4" (click)="nextSlide()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2">
        <path d="M9 5l7 7-7 7" />
      </svg>
    </button>
  </div>
</div>

  <!-- Fila superior con botones -->
<div class="flex flex-filtro justify-between mb-4 mx-8 items-center">
  <div class="flex flex-grow justify-end space-x-1">
    <button (click)="setProductsPerRow(2)" class="bg-yellow-300 hover:bg-yellow-400 text-white font-semibold py-2 px-3 rounded-xl">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-8" fill="currentColor" viewBox="0 0 24 20">
        <rect x="6" y="4" width="4" height="14" />
        <rect x="14" y="4" width="4" height="14" />
      </svg>
    </button>
    <button *ngIf="showButton4" (click)="setProductsPerRow(4)" class="bg-yellow-300 hover:bg-yellow-400 text-white font-semibold py-2 px-3 rounded-xl">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-10" fill="currentColor" viewBox="0 0 30 20">
        <rect x="2" y="4" width="4" height="14" />
        <rect x="9" y="4" width="4" height="14" />
        <rect x="16" y="4" width="4" height="14" />
        <rect x="23" y="4" width="4" height="14" />
      </svg>
    </button>

    <!-- Botón de 6 columnas solo visible si el tamaño de la pantalla es mayor o igual a 1100px -->
    <button *ngIf="showButton6" (click)="setProductsPerRow(6)" class="bg-yellow-300 hover:bg-yellow-400 text-white font-semibold py-2 px-3 rounded-xl">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-10" fill="currentColor" viewBox="0 0 36 20">
        <rect x="0" y="4" width="4" height="16" />
        <rect x="6" y="4" width="4" height="16" />
        <rect x="12" y="4" width="4" height="16" />
        <rect x="18" y="4" width="4" height="16" />
        <rect x="24" y="4" width="4" height="16" />
        <rect x="30" y="4" width="4" height="16" />
      </svg>
    </button>
  </div>
  <button (click)="toggleFilters()" class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-xl ml-4">
    {{ showFilters ? 'Ocultar Filtros' : 'Mostrar Filtros' }}
  </button>

  <div class="flex items-center ml-4">
    <i class="fas fa-shopping-cart text-yellow-600 text-lg mr-2"></i>
    <span class="text-lg font-bold text-yellow-600">
      {{ cartService.getTotalItems() }}
    </span>
  </div>
</div>


  <!-- Fila de columnas: Filtros y Productos -->
<div class="flex mx-4 mt-8">
  <!-- Sección de filtros -->
  <aside *ngIf="showFilters" class="filters bg-white rounded-3xl shadow-lg p-4 w-70 mr-8 flex flex-col justify-start sticky top-20" style="max-height: 90vh; overflow-y: auto;">
    <h2 class="text-lg font-bold text-yellow-600 text-center">Filtros</h2>

    <!-- Filtro: Ordenar por -->
    <div class="filter-section mt-4">
      <h3 class="text-md font-semibold text-gray-700">Ordenar por</h3>
      <select [(ngModel)]="selectedSort" class="border border-yellow-300 rounded-xl p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-400">
        <option value="">Sin ordenar</option>
        <option value="priceHighLow">Precio: alto-bajo</option>
        <option value="priceLowHigh">Precio: bajo-alto</option>
      </select>
    </div>

    <!-- Filtro: Color -->
    <div class="filter-section mt-4">
      <h3 class="text-md font-semibold text-gray-700">Color</h3>
      <select [(ngModel)]="selectedColor" class="border border-yellow-300 rounded-xl p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-400">
        <option value="">Todos</option>
        <option *ngFor="let color of uniqueColors" [value]="color">{{ color }}</option>
      </select>
    </div>

    <!-- Filtro: Género -->
    <div class="filter-section mt-4">
      <h3 class="text-md font-semibold text-gray-700">Género</h3>
      <select [(ngModel)]="selectedGender" class="border border-yellow-300 rounded-xl p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-400">
        <option value="">Todos</option>
        <option *ngFor="let gender of uniqueGenders" [value]="gender">{{ gender }}</option>
      </select>
    </div>

    <!-- Filtro: Marca -->
    <div class="filter-section mt-4">
      <h3 class="text-md font-semibold text-gray-700">Marca</h3>
      <select [(ngModel)]="selectedMarca" class="border border-yellow-300 rounded-xl p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-400">
        <option value="">Todas</option>
        <option *ngFor="let marca of uniqueMarcas" [value]="marca">{{ marca }}</option>
      </select>
    </div>

    <!-- Filtro: Talla -->
    <div class="filter-section mt-4">
      <h3 class="text-md font-semibold text-gray-700">Talla</h3>
      <select [(ngModel)]="selectedTalla" class="border border-yellow-300 rounded-xl p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-400">
        <option value="">Todas</option>
        <option *ngFor="let talla of uniqueTallas" [value]="talla">{{ talla }}</option>
      </select>
    </div>

    <button (click)="applyFilters()" class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-xl mt-4 w-full transition duration-200 ease-in-out">
      Aplicar Filtros
    </button>

    <!-- Botón Reiniciar Filtros debajo de Aplicar Filtros -->
    <button (click)="resetFilters()" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-xl mt-2 w-full transition duration-200 ease-in-out">
      Reiniciar Filtros
    </button>
  </aside>


<!-- Mensaje si no hay productos filtrados -->
<div *ngIf="filteredProducts.length === 0" class="flex flex-col items-center text-center text-gray-600 h-full">
  <p class="text-2xl font-bold mb-8 text-gray-700">
    No hay productos disponibles con los filtros seleccionados.
  </p>
  <button (click)="resetFilters()" class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-4 px-8 rounded-xl transition duration-200 ease-in-out text-xl">
    Reiniciar Filtros
  </button>
</div>

  <!-- Contenido principal -->
<div class="flex-1">
  <!-- Sección de productos -->
  <div 
    class="product-grid flex-grow grid gap-4 sm:gap-6 lg:gap-8"
    [ngClass]="{
      'grid-cols-2': productsPerRow === 2,
      'grid-cols-4': productsPerRow === 4,
      'grid-cols-6': productsPerRow === 6
    }">
    <div *ngFor="let product of paginatedProducts" 
         class="product-card bg-white rounded-3xl shadow-lg p-4 transform hover:scale-105 transition duration-300 ease-in-out hover:shadow-2xl flex flex-col">
      <a [routerLink]="['/product', product.id]">
        <img [src]="product.imageUrl" alt="{{ product.name }}" 
             class="product-image w-full aspect-[4/3] object-cover rounded-t-3xl" />
      </a>
      <div class="product-info mt-4 flex-grow flex flex-col justify-between">
        <h2 class="product-name text-lg font-bold text-yellow-600">{{ product.name }}</h2>
        <p class="product-price text-xl font-semibold text-yellow-500 mt-2">{{ product.price.toFixed(2) }} €</p>
        
        <!-- Botón de Favoritos con SVG -->
        <button 
          [ngClass]="{'text-orange-500': isFavorite(product), 'hover:text-yellow-500': !isFavorite(product)}" 
          class="favorite-btn mt-2 text-xl"
          aria-label="Añadir a favoritos">
          <svg (click)="toggleFavorite(product)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-6 h-6" 
              [ngClass]="{
                'stroke-yellow-600 fill-yellow-600': isFavorite(product), 
                'stroke-orange-600 fill-none hover:fill-orange-400': !isFavorite(product)
              }">
            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>    
  </div>
  
  <!-- Paginación -->
  <div *ngIf="paginatedProducts.length > 0" class="flex flex-col items-center mt-6">
    <!-- Botones de navegación de página -->
    <div class="flex justify-center">
      <button (click)="previousPage()" [disabled]="currentPage === 1" 
              class="px-4 py-2 bg-yellow-500 text-white font-semibold rounded-xl disabled:opacity-50">
        Anterior
      </button>
      <span class="px-4 py-2 text-lg font-semibold">
        Página {{ currentPage }} de {{ totalPages }}
      </span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" 
              class="px-4 py-2 bg-yellow-500 text-white font-semibold rounded-xl disabled:opacity-50">
        Siguiente
      </button>
    </div>

    <!-- Números de página -->
    <div class="flex justify-center mt-4">
      <button *ngFor="let page of [].constructor(totalPages); let i = index"
              (click)="currentPage = i + 1; paginateProducts()"
              [class.bg-yellow-500]="currentPage === i + 1"
              [class.text-white]="currentPage === i + 1"
              class="px-4 py-2 bg-yellow-200 hover:bg-yellow-300 text-gray-700 font-semibold rounded-xl mx-1">
        {{ i + 1 }}
      </button>
    </div>
  </div>
</div>

  </div>

