<div class="flex min-h-screen bg-[#f3e8d5] overflow-x-hidden">
  <!-- Sidebar -->
  <div class="w-1/11 bg-white p-2 rounded-lg shadow-lg border border-yellow-300 fixed h-fit top-1/2 transform -translate-y-1/2" id="myDiv">
    <ul class="custom-space">
      <li>
        <a routerLink="/admin/usuarios" class="w-full text-left text-yellow-700 rounded-lg transition duration-200">Usuarios</a>
      </li>
      <li>
        <a routerLink="/admin/productos" class="w-full text-left text-yellow-700 rounded-lg transition duration-200">Productos</a>
      </li>
      <li>
        <a routerLink="/admin/recibos" class="w-full text-left text-yellow-700 rounded-lg transition duration-200">Recibos</a>
      </li>
      <li>
        <a routerLink="/admin/stock" class="w-full text-left text-yellow-700 rounded-lg transition duration-200">Stock</a>
      </li>
    </ul>
  </div>
  

  <!-- Contenido Principal -->
  <div class="flex-1 ml-28 mt-20 mb-8 mr-4">
    <!-- Sección de Stock -->
    <router-outlet></router-outlet> <!-- Aquí se cargará el componente de stock -->
  </div>  
</div>
