<div class="favorites-container bg-[#f3e8d5] py-10 min-h-screen">
  <h1 class="text-2xl font-bold text-center text-yellow-600 mb-8">Mis Favoritos</h1>

  <div *ngIf="favorites.length === 0" class="text-center mt-4 text-gray-600">
    <p>No tienes productos favoritos.</p>
  </div>

  <div *ngIf="favorites.length > 0" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-4 mx-8">
    <div *ngFor="let product of favorites" class="product-card bg-white rounded-3xl shadow-lg p-4 transform hover:scale-105 transition duration-300 ease-in-out hover:shadow-2xl flex flex-col">
      <a [routerLink]="['/product', product.id]" class="w-full">
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image w-[60%] mx-auto h-48 object-cover rounded-t-3xl" />
      </a>

      <div class="product-info mt-4 flex-grow flex flex-col justify-between">
        <h3 class="text-lg font-bold text-yellow-600">{{ product.name }}</h3>
        <p class="text-xl font-semibold text-yellow-500">{{ product.price | currency:'EUR' }}</p>

        <button class="mt-2 text-red-500 hover:text-red-700">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-6 h-6" 
               [ngClass]="{'stroke-red-500': isFavorite(product), 'fill-red-500': isFavorite(product)}"
               (click)="toggleFavorite(product)">
            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
