<!-- Sección de productos -->
<div *ngIf="showProducts" [ngClass]="{'animate-fadeIn': showProducts, 'animate-fadeOut': !showProducts}" class="table-container w-full bg-white p-6 rounded-lg shadow-lg mb-10 border border-yellow-300 transition-all duration-500 ease-out transform">
  <h2 class="text-2xl font-bold text-yellow-800 mb-4 text-center">Productos</h2>

  <!-- Botón para mostrar el formulario de registro de producto -->
  <div class="flex justify-center mb-4">
    <button (click)="showProductForm = true" class="bg-yellow-500 text-white hover:bg-yellow-600 p-2 rounded-lg transition duration-200">
      Registrar Nuevo Producto
    </button>
  </div>

  <!-- Formulario de registro de producto -->
  <div *ngIf="showProductForm" class="p-4 border border-yellow-300 rounded-lg bg-yellow-50 mb-6">
    <h3 class="text-xl font-bold text-yellow-600 mb-2 text-center">Registrar Nuevo Producto</h3>
    <form #productForm="ngForm">
      <label for="productName" class="block mb-2">Nombre del Producto:</label>
      <input type="text" id="productName" [(ngModel)]="newProduct.name" name="productName" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" required />

      <label for="productDescription" class="block mb-2">Descripción del Producto:</label>
      <textarea id="productDescription" [(ngModel)]="newProduct.description" name="productDescription" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" required></textarea>

      <label for="productPrice" class="block mb-2">Precio del Producto:</label>
      <input type="number" id="productPrice" [(ngModel)]="newProduct.price" name="productPrice" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" required />

      <label for="productGender" class="block mb-2">Género:</label>
      <select id="productGender" [(ngModel)]="newProduct.gender" name="productGender" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" required>
        <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
      </select>

      <!-- Campo para el color -->
      <label for="productColor" class="block mb-2">Color:</label>
      <select id="productColor" [(ngModel)]="newProduct.color" name="productColor" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" required>
        <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
      </select>

      <!-- Campo para la marca en el formulario de registro de nuevo producto -->
      <label for="productBrand" class="block mb-2">Marca:</label>
      <select id="productBrand" [(ngModel)]="newProduct.marca" name="productBrand" required class="border border-yellow-300 p-2 rounded-lg w-full mb-4">
        <option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option> <!-- Opciones dinámicas -->
      </select>

      <!-- Campo para escribir una nueva marca -->
      <label for="newBrand" class="block mb-2">Escribir nueva marca:</label>
      <input type="text" id="newBrand" [(ngModel)]="newBrand" name="newBrand" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" (keydown.enter)="addBrand()"/>

      <!-- Campo para escribir un nuevo color -->
      <label for="newColor" class="block mb-2">Escribir nuevo color:</label>
      <input type="text" id="newColor" [(ngModel)]="newColor" name="newColor" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" (keydown.enter)="addColor()"/>

    
      <div class="flex mb-4">
        <button (click)="navigateToImageSelection()" type="button" class="border border-blue-500 p-2 rounded-lg mr-2">Utilizar Imagen</button>
        <button (click)="handleUploadImage()" type="button" class="border border-blue-500 p-2 rounded-lg">Subir Imagen</button>
      </div>

      <!-- Opciones para subir imagen -->
      <div *ngIf="showUploadOptions" class="mb-4">
        <div class="flex mb-2">
          <button (click)="showUrlInput = true; showUploadImageInput = false" class="border border-green-500 p-2 rounded-lg mr-2">Usar URL de imagen</button>
          <button (click)="showUploadImageInput = true; showUrlInput = false" class="border border-green-500 p-2 rounded-lg">Subir Imagen (PNG sin fondo)</button>
        </div>

        <!-- Input para usar URL de imagen -->
        <div *ngIf="showUrlInput">
          <label for="customImageUrl" class="block mb-2">Ingresa una URL personalizada de la imagen:</label>
          <input type="url" id="customImageUrl" [(ngModel)]="customImageUrl" [ngModelOptions]="{standalone: true}" placeholder="Ingresa la URL de la imagen" class="border border-yellow-300 p-2 w-full rounded-lg mb-2" name="customImageUrl" (input)="updateImageUrl(customImageUrl)">
        </div>

        <!-- Input para subir imagen -->
        <div *ngIf="showUploadImageInput">
          <label for="imageUpload" class="block mb-2">Sube una imagen (PNG sin fondo):</label>
          <input type="file" id="imageUpload" accept="image/png" (change)="onFileSelected($event)" class="border border-yellow-300 p-2 w-full rounded-lg" name="imageUpload">
        </div>
      </div>

      <!-- Vista previa de la imagen -->
      <div id="imagePreviewContainer" class="mt-4">
        <img *ngIf="newProduct.imageUrl" [src]="newProduct.imageUrl" alt="Vista previa de la imagen" class="w-48 h-auto rounded-lg border border-gray-300" />
      </div>

      <!-- Botones de registro y cancelación -->
      <div class="flex justify-center">
        <button (click)="registerProduct()" type="button" class="bg-yellow-500 text-white hover:bg-yellow-600 p-2 rounded-lg transition duration-200">Registrar Producto</button>
        <button type="button" (click)="cancelProduct()" class="bg-red-500 text-white hover:bg-red-600 p-2 rounded-lg transition duration-200 ml-2">Cancelar</button>
      </div>
    </form>
  </div>

  <!-- Paginación para productos -->
  <div class="mt-4 flex justify-center mb-4">
    <button (click)="previousProductPage()" 
            [disabled]="currentProductPage === 1" 
            class="bg-yellow-500 text-white hover:bg-yellow-600 p-2 rounded-lg transition duration-200" 
            [ngClass]="{'cursor-not-allowed opacity-50': currentProductPage === 1}">
        Anterior
    </button>
    <span class="mx-2 mt-2">Página {{ currentProductPage }} de {{ totalProductPages }}</span>
    <button (click)="nextProductPage()" 
            [disabled]="currentProductPage === totalProductPages" 
            class="bg-yellow-500 text-white hover:bg-yellow-600 p-2 rounded-lg transition duration-200" 
            [ngClass]="{'cursor-not-allowed opacity-50': currentProductPage === totalProductPages}">
        Siguiente
    </button>
  </div>

<!-- Formulario de edición de producto -->
<div *ngIf="isEditing" class="mt-4 p-4 border border-yellow-300 rounded-lg bg-yellow-50 mb-6">
  <h3 class="text-xl font-bold text-yellow-600 mb-2 text-center">Editar Producto</h3>
  <form (ngSubmit)="updateProduct(newProduct); closeForm()">
    <label for="productName" class="block mb-2">Nombre del Producto:</label>
      <input type="text" id="productName" [(ngModel)]="newProduct.name" name="productName" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" required />

      <label for="productDescription" class="block mb-2">Descripción del Producto:</label>
      <textarea id="productDescription" [(ngModel)]="newProduct.description" name="productDescription" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" required></textarea>

      <label for="productPrice" class="block mb-2">Precio del Producto:</label>
      <input type="number" id="productPrice" [(ngModel)]="newProduct.price" name="productPrice" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" required />

      <label for="productGender" class="block mb-2">Género:</label>
      <select id="productGender" [(ngModel)]="newProduct.gender" name="productGender" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" required>
        <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
      </select>

      <!-- Campo para el color -->
      <label for="productColor" class="block mb-2">Color:</label>
      <select id="productColor" [(ngModel)]="newProduct.color" name="productColor" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" required>
        <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
      </select>

      <!-- Campo para la marca en el formulario de registro de nuevo producto -->
      <label for="productBrand" class="block mb-2">Marca:</label>
      <select id="productBrand" [(ngModel)]="newProduct.marca" name="productBrand" required class="border border-yellow-300 p-2 rounded-lg w-full mb-4">
        <option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option> <!-- Opciones dinámicas -->
      </select>

      <!-- Campo para escribir una nueva marca -->
      <label for="newBrand" class="block mb-2">Escribir nueva marca:</label>
      <input type="text" id="newBrand" [(ngModel)]="newBrand" name="newBrand" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" (keydown.enter)="addBrand()"/>

      <!-- Campo para escribir un nuevo color -->
      <label for="newColor" class="block mb-2">Escribir nuevo color:</label>
      <input type="text" id="newColor" [(ngModel)]="newColor" name="newColor" class="border border-yellow-300 p-2 w-full rounded-lg mb-4" (keydown.enter)="addColor()"/>
  
    
     
      <div class="flex mb-4">
        <button (click)="navigateToImageSelection()" type="button" class="border border-blue-500 p-2 rounded-lg mr-2">Utilizar Imagen</button>
        <button (click)="handleUploadImage()" type="button" class="border border-blue-500 p-2 rounded-lg">Subir Imagen</button>
      </div>

      <!-- Opciones para subir imagen -->
      <div *ngIf="showUploadOptions" class="mb-4">
        <div class="flex mb-2">
          <button (click)="showUrlInput = true; showUploadImageInput = false" class="border border-green-500 p-2 rounded-lg mr-2">Usar URL de imagen</button>
          <button (click)="showUploadImageInput = true; showUrlInput = false" class="border border-green-500 p-2 rounded-lg">Subir Imagen (PNG sin fondo)</button>
        </div>

        <!-- Input para usar URL de imagen -->
        <div *ngIf="showUrlInput">
          <label for="customImageUrl" class="block mb-2">Ingresa una URL personalizada de la imagen:</label>
          <input type="url" id="customImageUrl" [(ngModel)]="customImageUrl" [ngModelOptions]="{standalone: true}" placeholder="Ingresa la URL de la imagen" class="border border-yellow-300 p-2 w-full rounded-lg mb-2" name="customImageUrl" (input)="updateImageUrl(customImageUrl)">
        </div>

        <!-- Input para subir imagen -->
        <div *ngIf="showUploadImageInput">
          <label for="imageUpload" class="block mb-2">Sube una imagen (PNG sin fondo):</label>
          <input type="file" id="imageUpload" accept="image/png" (change)="onFileSelected($event)" class="border border-yellow-300 p-2 w-full rounded-lg" name="imageUpload">
        </div>
      </div>

      <!-- Vista previa de la imagen -->
      <div id="imagePreviewContainer" class="mt-4">
        <img *ngIf="newProduct.imageUrl" [src]="newProduct.imageUrl" alt="Vista previa de la imagen" class="w-48 h-auto rounded-lg border border-gray-300" />
      </div>


    <div class="flex justify-center">
      <button type="submit" class="bg-yellow-500 text-white hover:bg-yellow-600 p-2 rounded-lg transition duration-200">Guardar Cambios</button>
      <button (click)="cancelEdit()" type="button" class="bg-red-500 text-white hover:bg-red-600 p-2 rounded-lg transition duration-200 ml-2">Cancelar</button>
    </div>
  </form>
</div>


  <!-- Barra de búsqueda y filtros -->
  <div class="flex items-center mb-4">
    <input 
        type="text" 
        [(ngModel)]="searchProductTerm" 
        (input)="filterProducts()" 
        placeholder="Buscar producto..." 
        class="border border-yellow-300 p-2 rounded-lg w-full mr-2" 
    />
    <select [(ngModel)]="genderFilter" (change)="filterProducts()" class="border border-yellow-300 p-2 rounded-lg mr-2">
        <option value="">Todos los Géneros</option>
        <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
    </select>
    
    <!-- Selector para Todos los Colores -->
    <select id="colorFilter" [(ngModel)]="selectedColorFilter" (change)="filterProducts(); filterBrandsByColor(selectedColorFilter)" class="border border-yellow-300 p-2 rounded-lg mr-2">
      <option value="">Todos los colores</option>
      <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
    </select>

    <!-- Selector para Todas las Marcas -->
    <select id="brandFilter" [(ngModel)]="brandFilter" (change)="filterProducts(); filterColorsByBrand(brandFilter)" class="border border-yellow-300 p-2 rounded-lg">
      <option value="">Todas las marcas</option>
      <option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option>
    </select>
  </div>

  <!-- Tabla de productos -->
  <table class="min-w-full border-collapse text-center">
    <thead class="bg-yellow-200">
      <tr>
        <th class="border border-yellow-300 p-2">ID</th>
        <th class="border border-yellow-300 p-2">Nombre</th>
        <th class="border border-yellow-300 p-2">Descripción</th>
        <th class="border border-yellow-300 p-2">Imagen</th>
        <th class="border border-yellow-300 p-2">Precio</th>
        <th class="border border-yellow-300 p-2">Género</th>
        <th class="border border-yellow-300 p-2">Color</th>
        <th class="border border-yellow-300 p-2">Marca</th>
        <th class="border border-yellow-300 p-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of paginatedProducts" class="hover:bg-yellow-100 transition duration-300">
        <td class="border border-yellow-300 p-2">{{ product.id }}</td>
        <td class="border border-yellow-300 p-2">{{ product.name }}</td>
        <td class="border border-yellow-300 p-2">{{ product.description }}</td>
        <td class="border border-yellow-300 p-2">
          <img [src]="product.imageUrl" alt="{{ product.name }}" class="w-16 h-16 object-contain mx-auto" />
        </td>
        <td class="border border-yellow-300 p-2">
          <div class="flex items-center justify-center space-x-1">
            <span>{{ product.price }}</span>
            <span>€</span>
          </div>
        </td>        
        <td class="border border-yellow-300 p-2">{{ product.gender }}</td>
        <td class="border border-yellow-300 p-2">{{ product.color }}</td>
        <td class="border border-yellow-300 p-2">{{ product.marca }}</td>
        <td class="border border-yellow-300 p-2">
          <div class="flex justify-center space-x-2">
            <button 
              (click)="editProduct(product)" 
              class="bg-yellow-500 text-white hover:bg-yellow-600 p-2 rounded-lg transition duration-200"
            >
              Editar
            </button>
            <button 
              (click)="deleteProduct(product)" 
              class="bg-red-500 text-white hover:bg-red-600 p-2 rounded-lg transition duration-200"
            >
              Eliminar
            </button>
          </div>
        </td>
        
      </tr>
    </tbody>
  </table>
  <!-- Paginación para productos -->
  <div class="mt-4 flex justify-center mb-4">
    <button (click)="previousProductPage()" 
            [disabled]="currentProductPage === 1" 
            class="bg-yellow-500 text-white hover:bg-yellow-600 p-2 rounded-lg transition duration-200" 
            [ngClass]="{'cursor-not-allowed opacity-50': currentProductPage === 1}">
        Anterior
    </button>
    <span class="mx-2 mt-2">Página {{ currentProductPage }} de {{ totalProductPages }}</span>
    <button (click)="nextProductPage()" 
            [disabled]="currentProductPage === totalProductPages" 
            class="bg-yellow-500 text-white hover:bg-yellow-600 p-2 rounded-lg transition duration-200" 
            [ngClass]="{'cursor-not-allowed opacity-50': currentProductPage === totalProductPages}">
        Siguiente
    </button>
  </div>
</div>
