/* Navbar Styles */
nav {
  position: relative;
}

/* Dropdown Styles */
.dropdown {
  position: absolute;
  left: 9.5rem; /* Ajusta el dropdown para pegarlo más al borde derecho */
  top: calc(100% + 1.35rem); /* Baja el dropdown un poco más para dejar más espacio */
  width: 250px;
  background-color: white;
  border: 2px solid #F97316; /* Borde naranja */
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
  transition: opacity 0.3s ease;
}

/* Mostrar el dropdown cuando está activo */
.dropdown.show {
  display: block;
  opacity: 1;
}

/* Estilos para sección y elementos del menú */
.section-dropdown {
  padding: 0.5rem;
}

.section-title {
  cursor: pointer;
  color: #4B5563;
  font-weight: bold;
}

.submenu li {
  padding: 0.25rem 0;
  cursor: pointer;
}

.submenu li:hover {
  color: #F97316;
}
