<div class="flex flex-col md:flex-row justify-between p-4">
  <div class="flex-1 p-2">
    <h2 class="text-xl font-semibold">Columna 1</h2>
    <!-- Columna 1 vacía por ahora -->
  </div>
  <div class="flex-1 p-2">
    <h2 class="text-xl font-semibold">Columna 2</h2>
    <img [src]="product?.imageUrl" alt="{{ product?.name }}" class="w-auto h-auto object-cover mx-auto" /> <!-- Cambiado a w-64 y h-64 -->
  </div>
  <div class="flex-1 p-2">
    <h2 class="text-xl font-semibold">Columna 3</h2>
    <!-- Columna 3 vacía por ahora -->
  </div>
</div>
