.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 2px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
  }
  .bin-bottom {
    width: 15px;
    z-index: 2;
  }
  .bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
  }
  .bin-button:hover .bin-top {
    transform: rotate(45deg);
  }
  .bin-button:hover {
    background-color: rgb(255, 0, 0);
  }
  .bin-button:active {
    transform: scale(0.9);
  }
  .garbage {
    position: absolute;
    width: 14px;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
  }
  .bin-button:hover .garbage {
    animation: throw 0.4s linear;
  }
  @keyframes throw {
    from {
      transform: translate(-400%, -700%);
      opacity: 0;
    }
    to {
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }
  
/* Estilos para las miniaturas */
.thumbnail-container {
  margin-bottom: 10px;
  position: relative;
}

.thumbnail {
  width: 70px; /* Tamaño pequeño */
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.1); /* Efecto hover en las miniaturas */
}

/* Estilo para la imagen principal */
#main-product-image {
  transition: opacity 0.3s ease;
}

.custom-line-through {
  position: relative;
  display: inline-block; /* Asegura que el pseudo-elemento se posicione correctamente */
}

.custom-line-through::after {
  content: '';
  position: absolute;
  left: 50%; /* Centra la línea desde el medio del contenedor */
  bottom: 50%; /* Coloca la línea en el medio del texto verticalmente */
  width: 50%; /* Hace que la línea sea más larga que el texto (ajusta según lo necesites) */
  height: 3px; /* Grosor de la línea */
  background-color: black; /* Color de la línea */
  transform: translateX(-50%) translateY(50%); /* Centra la línea horizontalmente y ajusta verticalmente */
}



